{% extends 'base.html' %}

{% block action %}
<a href="{{ url_for('mail.index') }}" class="btn btn-primary rounded-pill">Volver</a>
{% endblock %}

{% block header %}
<div class="container-fluid">
<h1 class="fw-bold">{% block title %}{% endblock %}Enviar correo</h1>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label user-select-none">Correo</label>
          <input type="email" class="form-control" name="email-form" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label user-select-none">Asunto</label>
          <input type="text" name="subject-form" class="form-control" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputContent" class="form-label user-select-none">Contenido</label>
            <textarea name="content-form" class="form-control form-control-lg fs-6 shadow-sm" id="" cols="30" rows="8" minlength="10" required></textarea>
        </div>
        <div class="mb-3 form-check">
        </div>
        <button class="btn btn-primary rounded-pill btn-enviar mb-4">Enviar</button>
      </form>
</div>
{% endblock %}